name: Staging Deployment

on:
  push:
    branches: ["staging"]
  pull_request:
    branches: ["staging"]

jobs:
  stage-deployment:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          port: ${{ secrets.PORT }}
          key: ${{ secrets.SSHKEY }}
          script: "cd /var/www/html/dev-backoffice.proyekin.id && sudo ./.scripts/stage-deploy.sh"
